* {
    font-family:'Hiragino Kaku Gothic ProN',
    Meiryo, sans-serif;q
}


body {
  margin: 0;
  padding: 0;
  color: #5f5f5f; 
  background-color: #ffffff;
}

#page {
    margin: 0 auto;
    width: 820px;
}


#triangleDown{
	width:0;
	height:0;
	border-right:40px solid transparent;
	border-left:40px solid transparent;
	border-top:20px solid #333333;
}

h1 {
    text-align: center;
}

h2 {
    border-bottom: 2px dotted #180614;
    border-left: 10px solid #180614;
    padding: 7px;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: underline;
}

h4 {
    font-size: 1.1em;
}

#footer {
    margin-top: 30px;
    border-top: 3px solid #745850;
    padding-top: 20px;
    padding-bottom: 20px;
}

#copyright {
    text-align: center;
}
#copyright a{
    text-decoration: none;
}

#menu-wrap {
  width: 100%;
  height: 40px;
  box-shadow: 0 1px 10px #333;
  background: #2f2b3f;
}

#menu {
  list-style-type: none;
  width: 960px;
  margin: 0px auto 0px;
  padding: 0;
}

#menu li {
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}

#menu li a {
  display: block;
  width : 100%;
  padding: 13px 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

#menu li a:hover {
  background: #272435;
}

.fixed{
  position: fixed;
  top: 0px;
  left: 0px
  z-index: 9999;
}

/** menu のナビ **/
#menunavi {
  width:530px;
  padding:0;
  margin:0;
  list-style-type: none;
  margin-left:auto;margin-right:auto;
  text-align:left;
}

#menunavi ul {
  display:inline-block;
}


#menunavi li {
  width:25%;
  float:left;
  padding:0;
  margin:0;
  text-align:center;
}

#menunavi li a {
  width:auto;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  padding:10px 0;
  text-decoration:none;
  display:block;
  background:#2f2b3f;
}

#menunavi li a:hover {
  background:#555;
}

.clearLeft { 
clear: left; 
}



#result table{
  border-collapse: collapse;
}
#result td{
  border: solid 1px #000000;
}
#table-right td{
  text-align: right;
}
table{
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
}
th, td{
  border: 1px solid #cccccc;
  padding: 6px 10px;
}
th{
  background: #f2f2f2;
  font-weight: bold;
}
em{
  font-weight: bold;
}
