# Environment variables
# - HOST_NAME
# - USER_NAME
 
version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.1-browsers
    steps:
      - checkout
 
      - add_ssh_keys:
          fingerprints:
            - "ac:f8:02:1c:ce:ed:fb:94:5a:60:62:9d:ac:c3:7f:cf"
            - "e1:1a:fe:aa:51:14:86:92:ac:87:bc:73:b1:dc:26:a8"
            - "81:a1:ee:97:71:d9:ea:53:50:82:fc:e4:b0:a3:a7:f3"
 
      - run:
          name: Start deploy
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then  
                ssh -o StrictHostKeyChecking=no $USER_NAME@$HOST_NAME "cd /var/www/html/pws/; git pull origin master"
            fi  

      - run:
          name: Make html file
          command: |
            if [ "${CIRCLE_BRANCH}" == "gh-pages" ]; then  
                ssh -o StrictHostKeyChecking=no $TEST_USER_NAME@$TEST_HOST_NAME \ 
                "cd /home/$TEST_USER_NAME/pwssite; git pull origin gh-pages; bash ./2020/scripts/make.bash; git add -A; git commit -m 'make.bash'; git push origin gh-pages"
            fi  
