  </head>
  <body style="margin-top:40px">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <div id="menu-wrap" class="fixed">
      <ul id="menu">
        <li>
          <a href="./index_e.html">Top</a>
        </li>
        <li>
          <a href="./index_e.html">About PWS</a>
        </li>
        <li>
          <a href="./cup24.html">PWSCUP2024</a>
        </li>
        <li>
          <a href="https://www.iwsec.org/pws/index_e.html">Past PWS</a>
        </li>
      </ul>
    </div>
    <div id="page">
